table{
    border-style: solid;
    text-align: center;
    margin:auto
    
}
table th{
    border-style: solid;
    text-align: center;
}
table td{
    border-style: solid;
    border-width: 1px;
}
